/* ADD YOUR STYLES HERE */
.image-group {
    text-align: center;
}

/*img {
    padding: 0px 25px;
}*/

/*.image p, .image ol {
    padding: 0px 25px;
}*/

.image-group img, .image-group p, .image-group ol {
    display: inline-block;
    vertical-align: top;
    padding: 0px 25px;
}

.image-group ol {
    text-align: left;
}

.vert-space {
    padding: 120px 0px;
}

.h-list li{
    display: block;
    float: left;
    margin-left: 0;
}
